

/* Header */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: white;
  border-bottom: 1px solid seashell;
  align-items: center;
}

nav {
  text-align: right;
  flex-grow: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
